In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import matplotlib.pyplot as plt

In [32]:
base_path = '/Users/eva/Documents/Study/Y1S2/DMT/assignment2/'
file_pattern = 'best_feature_engineered_training_chunk_{}.csv'
for i in range(10):
    df_chunk = pd.read_csv(base_path + file_pattern.format(i))
    if i == 0:
        df = df_chunk
    else:
        df = pd.concat([df, df_chunk], axis=0)
df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,hist_price_interaction,rating_review_interaction,price_location_ratio,price_per_adult,price_per_person,prop_historical_price,prop_clicked_prob,child_bool,price_review_ratio,price_starrating_ratio
0,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,893,3,3.5,...,0.0,10.5,37.021201,26.1925,26.1925,141.174964,0.0,False,29.934286,34.923333
1,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,10404,4,4.0,...,0.0,16.0,77.609091,42.6850,42.6850,152.933013,0.0,False,42.685000,42.685000
2,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,21315,3,4.5,...,0.0,13.5,81.727273,44.9500,44.9500,137.002613,0.0,False,39.955556,59.933333
3,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,27348,2,4.0,...,0.0,8.0,171.321555,121.2100,121.2100,80.640419,0.0,False,121.210000,242.420000
4,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,29604,4,3.5,...,0.0,14.0,54.386364,35.8950,35.8950,138.379512,0.0,False,41.022857,35.895000

In [33]:
df_test = pd.read_csv("/Users/eva/Documents/Study/Y1S2/DMT/assignment2/best_feature_engineered_test_set_VU_DM.csv")
combined_df = pd.concat([df, df_test], ignore_index=False)

original_train_len = len(df)
original_test_len = len(df_test)

In [20]:
combined_df['price_rank_percentile'] = combined_df.groupby('srch_id')['price_usd'].rank(pct=True)

combined_df['location1_rank_percentile'] = combined_df.groupby('srch_id')['prop_location_score1'].rank(pct=True)

In [27]:
df = combined_df.iloc[:original_train_len]
df_test = combined_df.iloc[original_train_len:original_train_len + original_test_len]

In [18]:
print(df_test.shape)

(4959183, 69)

In [22]:
# print columns with NA in df
print(df.columns[df.isnull().any()].tolist())

['hist_price_interaction']

In [28]:
# print columns with NA in df_test
print(df_test.columns[df_test.isnull().any()].tolist())

['position', 'click_bool', 'gross_bookings_usd', 'booking_bool']

In [29]:
# drop ['position', 'gross_bookings_usd'] in df_test
df_test = df_test.drop(columns=['position', 'gross_bookings_usd', 'click_bool', 'booking_bool'])

In [30]:
#to_csv
df_test.to_csv('/Users/eva/Documents/Study/Y1S2/DMT/assignment2/2best_feature_engineered_test_set_VU_DM.csv', index=False)

In [25]:

chunk_size = 500000  # This number can change 

# Split the CSV into chunks
for i in range(0, len(df), chunk_size):
    chunk = df.iloc[i:i + chunk_size]
    chunk.to_csv(f'/Users/eva/Documents/Study/Y1S2/DMT/assignment2/2best_feature_engineered_training_chunk_{i//chunk_size}.csv', index=False)

In [ ]:
# print df shape
print(df_test.shape)

In [5]:
df_cleaned_test = pd.read_csv('/Users/eva/Documents/Study/Y1S2/DMT/assignment2/cleaned_test_set_VU_DM.csv')
print(df_cleaned_test.shape)

(4959183, 51)